

body{
	padding-bottom: 100px;
	font-size: 0.9rem;
}

section{
	padding: 2rem 0rem;
}

#ajax_loader{
    position: absolute;
    right: 0px;
    width: 30px;		
    display: none;
}

section #result_box .values{
	text-align: right;
}
section #result_box .pt1{
	padding-top: 30px;
}
section #result_box {
	color: white;
}

section#results #img_container img{
	padding: 2rem;
}

.btn-primary{
	background-color: #ff8810;
	border: 1px solid #ff8810;
}

.bgc1{
	background-color: #00a6ff;
}
.bgc2{
	background-color: grey;
}

#add_diagram_form .form-group,
#add_diagram_form button{
	margin-left: 1rem;
}

#map { 
	height: 350px; 
	width: 100%;
}

#header img{
	position: absolute;
	left: 0px;
	width: 200px;
}

h4{
	font-size: 1.4rem;
	color: #00a6ff;
}
/*h4 .number{
	font-size: 1.8rem;
	color: red;
}*/